body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #333;
    color: white;
    padding: 1rem ;
    text-align: center;
}
nav img{
    background-size: cover;
    height: 5rem;
    width: 15rem;
}
/* nav h1{
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: x-large;  
 color: coral;  
} */
nav div {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

nav h3 {
    display: inline;
    margin:  1rem;
}

nav  h3 a {
    color: white;
}
nav  h3 a:hover{
    background-color:#534091;
    color: #181818;
    transition: 0.8ms;
}

.banner {
    /* background-image: url('pngwing.com\ \(1\).png'); */ 
    /* background-size: cover; */
    /* background-position: center; */
    /* color: white;
    text-align: center;*/
    /* padding: 20rem ;  */
    object-fit:cover ;
    position: relative;
    width: 100%;
    height:20%;
    padding: 0px 50px ;
}

.dis {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    text-align: center;
}
.wel{
    text-align: center;
    /* border: 2px solid #000; */
    /* margin: 20px 30px; */
    transition: transform 600ms;
}
.wel:hover{
    transform: scale(1.09);
}
.dist{
    display: flex;
    justify-content: space-around;
    padding: 20px ;

}
.menu{
    /* border: 2px solid #000; */
    /* margin: 20px 30px; */
    transition: transform 600ms;
}
.menu:hover{
    transform: scale(1.09);
}
.about{
    /* border: 2px solid #000; */
    /* margin: 20px 30px; */
    transition: transform 600ms;
}
.about:hover{
    transform: scale(1.09);
}
.contact{
    /* border: 2px solid #000; */
    /* margin: 20px 30px; */
    transition: transform 600ms;
}
.contact:hover{
    transform: scale(1.09);
}

